@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";


// Styling for the input element.
.u-form-control {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    width: 100%;
    height: $form-control-default-height;
    cursor: text;
    font-size: $form-control-default-font-size;
    line-height: 1.5;
    color: $form-control-color;
    background-color: $form-control-bg-color;
    background-image: none;
    border: 1px solid $form-control-border-color;
    border-radius: $form-control-border-radius;
    transition: all .3s;
    &:focus{
    	border-color: #66afe9;
	    outline: 0;
    }
}
.u-form-control[disabled] {
    background: $form-control-disable-bg-color;
    border-color: $form-control-disable-border-color;
    color: $form-control-disable-color;
    cursor: not-allowed;
}
.u-form-control.lg{
    height: $form-control-lg-height;
    font-size: $form-control-lg-font-size;
}
.u-form-control.sm{
    font-size: $form-control-sm-font-size;
    height: $form-control-sm-height;
}